body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Change this to your desired stylish font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif; /* Change this to your desired stylish font for code */
}
